.footer{
    height: 100px;
    background: #89C249;
    margin-top: auto;
}

a.markap {
    left: 51px;
    position: fixed;
    right: 5px;
    bottom: 10px;
    background-color: #FF9800;
    color: #efe8e8;
    text-decoration: none;
    display: inline-block;
    width: fit-content;
    padding: 12px 15px;
    border: solid 1px;
    border-radius: 24px;
    line-height: 1;
}
 